<html>
  <head>
    <meta property="og:image" content="<%= image_path_prefix + item.client.image?item.client.image:'error.png' %>">
    <meta charset="utf-8">
<title><%= item.server.Name %> | <%= id %></title>
<meta name="description" content="
<%= item.client.description %>
<% if (item.client.effect) { %><h5><b><%= item.client.effect %></b></h5><% } %>
Weight: <%= item.server.Weight %>">
<meta name="robots" content="index, follow">

<link href="http://fonts.googleapis.com/css?family=Raleway:400,200,500,600,700,800,300" rel="stylesheet">

<link rel="stylesheet" href="/site.css">
<link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
<link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">

  </head>
  <body>
    <a class="button" style="margin:5pt;background-color:#164085" href="https://tmw2.org">To TMW2.org</a>
    <a class="button" style="margin:5pt;background-color:#164085" href="/">List of all Items</a>
    <div class="card">

<div class="container">
  <div class="row">
    <div class="column column-75">
      <h1><%= item.server.Name %> | <%= id %></h1>
      <blockquote>
        <p><em><%= item.client.description %></em></p>
      </blockquote>
      <% if (item.client.effect) { %><h5><b><%= item.client.effect %></b></h5><% } %>
    </div>
    <div class="column  no-padding">
      <div class="icon-container">
        <img src="<%= image_path_prefix + (item.client.image?item.client.image:'error.png') %>" width="100%"></img>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <table>
        <tbody>
          <tr>
            <td>ID</td>
            <td><%= id %></td>
          </tr>
          <% for(var i=0; i<properties.general.length; i++) {%>
            <% temp_property = getProperty(properties.general[i]) %>
            <% include property_row.ejs %>
          <% } %>
        </tbody>
      </table>
    </div>
    <div class="column"><table>
      <tbody>
        <% for(var i=0; i<properties.specific.length; i++) {%>
          <% temp_property = getProperty(properties.specific[i]) %>
          <% include property_row.ejs %>
        <% } %>
      </tbody>
    </table></div>
  </div>
  <div class="row">
    <div class="column">
      <p>
        <% temp2 = getProperty("server.Trade") %>
        <% if(temp2.value){ %>
          <details><summary>This Item has Trade restrictions</summary>
              <textarea style="resize: none;height: initial!important;" readonly rows="6"><%= JSON.stringify(temp2.value, null, 3) %></textarea>
          </details>
        <% } %>
      </p>
      <p>
        <% temp3 = getProperty("server.Nouse") %>
        <% if(temp3.value){ %>
          <details><summary>This Item has Use restrictions</summary>
              <textarea style="resize: none;height: initial!important;" readonly rows="6"><%= JSON.stringify(temp2.value, null, 3) %></textarea>
          </details>
        <% } %>
      </p>
      <div class="row">
        <div class="column">
          <a class="button" href="<%= wiki_path +"#"+ id %>">To Wiki Page</a>
        </div>
        <div class="column">
          ID for use in Discord:<input type="text" value="[<%= item.server.Name %> | https://i.tmw2.org/<%= id %>]" readonly>
        </div>
      </div>

      <details><summary>Expert View</summary>
        <div class="expert">
          <p>You'd like to see behind the curtain? Then you are here at the right place - lots of data only contributors would normally see.</p>
<a target="_blank" class="button" href="/json/<%= id %>">Open raw JSON</a>
<table>
  <tbody>
    <tr>
      <td>ID</td>
      <td><%= id %></td>
    </tr>
    <% for(var i=0; i<properties.expert.length; i++) {%>
      <% temp_property = getProperty(properties.expert[i]) %>
      <% include property_row.ejs %>
    <% } %>
  </tbody>
</table>

<% if (item.server.Script) { %>
        <details><summary>Script</summary>
          <div class="expert">
          <p>Script to execute when the item is used/equipped.</p>
          <pre><code>
          <%= tools.decodeScript(item.server.Script) %>
          </code></pre></div>
        </details>
<% } %>
<% if (item.server.OnEquipScript) { %>
        <details><summary>OnEquipScript</summary>
          <div class="expert">
          <p>Script to execute when the item is equipped.
               Warning, not all item bonuses will work here as expected.</p>
          <pre><code>
          <%= tools.decodeScript(item.server.OnEquipScript) %>
          </code></pre></div>
        </details>
<% } %>
<% if (item.server.OnUnequipScript) { %>
        <details><summary>OnUnequipScript</summary>
          <div class="expert">
          <p>Script to execute when the item is unequipped.
                 Warning, not all item bonuses will work here as expected.</p>
          <pre><code>
          <%= tools.decodeScript(item.server.OnUnequipScript) %>
          </code></pre></div>
        </details>
<% } %>


        </div>
      </details>

    </div>
  </div>
</div>


    </div>
  </body>
</html>
