<html>
  <head>
    <meta charset="utf-8">
<title>All Items</title>
<meta name="description" content="List of all tmw2 items">
<meta name="robots" content="index, follow">

<link href="http://fonts.googleapis.com/css?family=Raleway:400,200,500,600,700,800,300" rel="stylesheet">

<link rel="stylesheet" href="/site.css">
<link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
<link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
<script>
window.fadeIn = function(obj) {
  obj.classList.remove('hide');
}
</script>
  </head>
  <body>
    <a class="button" style="margin:5pt;background-color:#164085" href="https://tmw2.org">To TMW2.org</a>
<div class="card" style="max-width: 700pt;">
<div class="container">
      <h1>List of all Items</h1>
          <% for(var i=0; i<categories.length; i++) {%>
            <h2><%= categories[i] %></h2>
            <div class="itemGroup">
            <% items = data.filter(item => item.type == categories[i]); %>
            <% for(var j=0; j< items.length; j++) {%>
              <a href="/<%= items[j].id %>" class="itemGroupItem" title="<%= items[j].name %> | <%= items[j].id %>">
                <div class="itemGroupItem_thumbnail"><img class="hide" src="<%= image_path_prefix + items[j].image %>" width="100%" onload="fadeIn(this)"></img></div>
                <span><%= items[j].name %></span>
              </a>
            <% } %>
            </div>
          <% } %>


</div>


    </div>
  </body>
</html>
