<% if (temp_property.value) { %>
 <tr>
   <td>
     <%= temp_property.name %>

     <a href="https://gitlab.com/TMW2/TheManaWorld_Wiki/wikis/dev/itemdb#<%= temp_property.internal_name %>"
        class="tooltip" title="<% if (temp_property.description) { %><%= temp_property.description %><% } %>" target="_blank">❔</a>
   </td>
   <td><%= temp_property.value %></td>
 </tr>
 <% } %>
