body::before{
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  background: url('https://cdn.discordapp.com/attachments/408003072804126787/414636384528367626/TMW2_Online_Screenshot_127.0.0.1_2018-02-18_05-11-37_1.png');
  background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    filter: blur(3px) grayscale(0.2) brightness(0.55);
}


.card {
  max-width: 500pt;
  padding: 1rem 0;
  margin: 9pt auto;
  border-radius: 10pt;
  box-shadow:
    0 0 0 2pt #916d38,
    0 0 0 4pt #e8c067,
    0 0 0 6pt #ac7d36;
  background: rgba(225, 216, 188, 0.74);
  color:#262626;
}

.column {
  //border: dotted 1pt red;
}

table {
  color: inherit;
}

img {
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -webkit-crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated;
}

.icon-container {
  box-shadow:
    0 0 0 3pt #916d38,
    0 0 0 6pt #e8c067,
    0 0 0 9pt #ac7d36;
  max-width: 100pt;
  margin:9pt auto;
  border-radius: 3pt;
  background-color: rgba(225, 216, 188, 0.4);
}

.icon-container:hover {
  background-color: rgba(225, 216, 188, 1);
}


.no-padding{
  padding: 0!important;
}

.expert{
  margin-left: 1rem;
  border-top: 1pt solid black;
}

.tooltip {
    cursor:help;
    font-size: 12px
}

.itemGroup {
  margin: 0.5pt;
  border-radius: 10pt;
  box-shadow:
    0 0 0 1pt #916d38,
    0 0 0 2pt #e8c067,
    0 0 0 3pt #ac7d36;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1pt;
}

.itemGroupItem {
  width: 60pt;
  vertical-align: top;
  display: inline-block;
  text-align: center;

}

.itemGroupItem_thumbnail{
  margin: 3pt;
  padding: 1pt;
  background-color: rgba(225, 216, 188, 0.4);
  border-radius: 10pt;
  height: 72px;
  width: 72px;
}
.itemGroupItem_thumbnail > img {
  transition: opacity 1s;
}

.itemGroupItem > span{
  letter-spacing: -.08rem;
  line-height: 1.35;
  color: green;
  font-weight: 400;
  font-size: 1.7rem;
  margin-bottom: 0;
  margin-top: 0;
}


.itemGroupItem_thumbnail:hover {
  background-color: rgba(225, 216, 188, 1);
  box-shadow:
    0 0 0 1pt #916d38,
    0 0 0 2pt #e8c067,
    0 0 0 3pt #ac7d36;
}

.hide {
  opacity: 0;
}
